*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   


.landing h1{
    
    font-size: 120px;
    font-style: italic;
    font-weight: 2000px;
    text-align: center;
    padding-top: 50px;
    padding-right: 700px;
    color:#ff6347;
    
}
video{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.landing p{
    font-size: 30px;
    color: rgb(250, 251, 252);
    font-weight: 100;
    text-align: center;
    padding-right: 500px;
    font-family: cursive;
    

}
p>span{
    color: white;
    padding-left: 200px;
}
audio{
    display: none;
}
button{
    background-color:#ff6347;
    border: 3px solid black;
    color:white;
    width:200px;
    height:50px;
    border-radius: 20px;
    margin-left: 45%;
    margin-top: 100px;
    font-weight: 700;
    font-family:cursive; ;
}
section{
    color:white;
    text-align: right;
   
    
}
a{
    margin-right: 100px;
    font-size: 20px;
    
}
a:hover{
    color: #ff6347;
    border-bottom: 3px solid white;
    border-radius: 5px;
}

